<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table>
    <tr>
    <td width="300px" style="border: 0px">
        {% for category in categories %}
            <a href="http://localhost:8000/shop/category/{{category.id}}">{{ category.name }} <br /> </a>
        {% endfor %}
    </td>
    <td>
        {% for product in products %}
            <a href="http://localhost:8000/shop/product/{{product.id}}/">{{product.name}}</a> </br>
        {% endfor %}
    </td>
    </tr>
</table>

<br />
<br />

</body>
</html>